---
title: Linux Club Home
authors:
  - "Kevin Raoofi"
  - "Seth Thomas"
---

%section#about
  %h1 About
  %p This page contain supplementary documents from Linux club.
%section#slides
  %h1 Slides
  %ul
    - data.slides.each do |entry|
      %li
        %a{:href=>entry.href}
          =entry.name
-#
  %section#index
    %h1 Index
    %ul
      - sitemap.resources.each do |x|
        %li
          %a{:href=>x.url}=x.metadata[:page]["title"] || x.url 
